body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 1;
  padding: 20;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 5px 0;
}
button {
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 20px;
}


